
<label> Server Name </label>
<!--One way binding
  <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"/> -->

  <!--Two way binding
  Important: For Two-Way-Binding to work, you need to enable the ngModel  directive.
  This is done by adding the FormsModule  to the imports[]  array in the AppModule (app.module.ts).
  You then also need to add the import from @angular/forms  in the app.module.ts file:
  import { FormsModule } from '@angular/forms';
-->
  <input
    type="text"
    class="form-control"
    [(ngModel)] = "serverName"/>

  <!--<p>{{ serverName}} </p> -->

<button class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()" >Add Server </button>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
